* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    background-color: black;
    min-height: 200vh;
}

header { 
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 40px 5%;
    transition: 0.6s;
    z-index: 10000;
}

header.sticky{ 
    padding: 5px 5%;
    background: #fff;

}

#nav ul li a {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

#nav ul{
    position: relative;
    display:inline-block;
    margin:0 auto;
    list-style:none;
    align-items: center;
    }

#nav ul li {
        float: left;
        display: inline;
        position: relative;
}

#nav ul li a {
    display:block;
    align-items: center;
    text-align:center;
    text-decoration:none; 
    position: relative;

}
#nav ul li a::after{ 
    content: '';
    position: absolute;
    width: 100%;
    height: 0.175rem;
    left: 0;
    bottom: 0;
    background:rgb(253, 59, 107);
}

#nav ul li a::after{
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}
#nav ul li a:hover:after{
    transform: scale(1, 1);
}


#nav {
    text-align:center;
}
/* 
* html #nav ul { 
    display:inline;
    }
*+html #nav ul { 
    display:inline;
}
#nav li {
    display:inline;
} */
#nav a {
    float:left;
    display: flex;
    text-decoration:none; 
    padding: 20px 80px; 
}

#nav li :hover{ 
    color: rgb(253, 59, 107); 
}

.banner { 
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(drake.png);
    background-size: cover;
    z-index: -1;
}

header.sticky #nav ul li a { 
    color: #000;
}

header.sticky #nav ul li a:hover { 
    color: rgb(253, 59, 107); 
}

h1 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 300px;
}
